.carru{

    height: 64rem,auto ;

}
.hache-cinco{
    color: white;
}
.pe{
    color: white;
}
.htitle{
    text-align: center;
}
.about{
    width: 37rem,auto ;
    height: 31rem,auto ;
}
.peAbout{
    padding-top: 5rem;
    text-align:center;
}
.peAbout li{
    list-style: none;
}
.tnail{

    width: 12rem;
    height: 12rem;
}

